<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image class="logo" src="~/app/images/logo.png"></Image>
        <Label class="header" text="BLACK POD DISEASE"></Label>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto, auto, auto">
                <StackLayout row="0" class="input-field">
                    <TextField class="input" hint="Name" [isEnabled]="!processing"
                         autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.name"
                        returnKeyType="next"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <TextField class="input" hint="Age" [isEnabled]="!processing"
                        keyboardType="number" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.age"
                        returnKeyType="next"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="2" class="input-field">
                    <TextField class="input" hint="Residence" [isEnabled]="!processing"
                        autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.residence"
                        returnKeyType="next"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="3" class="input-field">
                    <TextField class="input" hint="Phone Number" [isEnabled]="!processing"
                        keyboardType="number" autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.phoneNumber"
                        returnKeyType="next"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="4" class="input-field">
                    <TextField class="input" hint="Farming Location" [isEnabled]="!processing"
                        autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.farmingLocation"
                        returnKeyType="done"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <ActivityIndicator rowSpan="2" [busy]="processing" width="40" height="40"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>

        <Button text = "Register" [isEnabled]="!processing"
            (tap)="submit()" class="btn btn-primary m-t-20"></Button>
    </StackLayout>

</FlexboxLayout>
